#video {
    -webkit-transform: rotateY(180deg);
    position: absolute;
    left: 20%;
    top: 10%;
    z-index: 10;
    background-color: black;
    border: 1px solid black);
    border-radius: 5px;
    margin：auto;
}

#status {
    width: 300px;
    height: 50px;
    background: #FF6633;
    position: absolute;
    z-index: 30;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    border-top: none;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#hint {
    
}