body {
    font-family: "Helvetica Neue", "sans-serif";
    margin: 0;
    padding: 0;
  }


#Status {
    width: 300px;
    height: 50px;
    background: #FF6633;
    position: absolute;
    z-index: 30;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    border-top: none;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#Status p {
    font-family: verdana, sans-serif;
    color: white;
    font-weight: bold;
}

#Video {
    margin: 0px auto;
    width:300px;
    height:225px;
    top:50px;
    border: 2px #333 solid; 
}

#button {
    text-align: center;
    margin-top:10px;
    margin-bottom:10px
}

button {
    font-family: verdana, sans-serif;
    color:white;
    width:75px;
    height:25px;
    background: #FF6633;
    font-weight: bold;
    border: 2px white; 
    border-radius: 5px;
    margin-left:10px;
    margin-right:10px;
    -webkit-app-region:no-frag;
}


#Interaction-text {
    font-family: verdana, sans-serif;
    color:#FF6633;
    font-weight: bold;
    text-align: center;
    
}


